<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link {% if sidebar.menu == 'dashboard' %} active {% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>    
                <li class="nav-item">
                    <a href="/mpls" class="nav-link {% if sidebar.menu == 'mpls' %} active {% endif %}">
                        <i class="nav-icon fas fa-globe"></i>
                        <p>MPLS</p>
                    </a>
                </li>
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>Visio Diagrams<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>DFW</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jan" class="nav-link {% if sidebar.submenu == 'jan' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PHX</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pdc" class="nav-link {% if sidebar.submenu == 'feb' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PDC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/mar" class="nav-link {% if sidebar.submenu == 'mar' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>CDC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/apr" class="nav-link {% if sidebar.submenu == 'apr' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SCC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/may" class="nav-link {% if sidebar.submenu == 'may' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>ASH</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jun" class="nav-link {% if sidebar.submenu == 'jun' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SJC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jul" class="nav-link {% if sidebar.submenu == 'jul' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PDT</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/aug" class="nav-link {% if sidebar.submenu == 'aug' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PSA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/sep" class="nav-link {% if sidebar.submenu == 'sep' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SV7</p>
                            </a>
                        </li>
                    </ul>                                            
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Datacenters<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>DFW</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jan" class="nav-link {% if sidebar.submenu == 'jan' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PHX</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pdc" class="nav-link {% if sidebar.submenu == 'feb' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PDC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/mar" class="nav-link {% if sidebar.submenu == 'mar' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>CDC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/apr" class="nav-link {% if sidebar.submenu == 'apr' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SCC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/may" class="nav-link {% if sidebar.submenu == 'may' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>ASH</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jun" class="nav-link {% if sidebar.submenu == 'jun' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SJC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/jul" class="nav-link {% if sidebar.submenu == 'jul' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PDT</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/aug" class="nav-link {% if sidebar.submenu == 'aug' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PSA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/far/sep" class="nav-link {% if sidebar.submenu == 'sep' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>SV7</p>
                            </a>
                        </li>
                    </ul>
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-plane"></i>
                        <p>Remote<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Sites</p>
                            </a>
                        </li>                        
                    </ul>                    
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Domestic</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>International</p>
                            </a>
                        </li>                        
                    </ul>                    
                </li> 
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-cloud"></i>
                        <p>Cloud<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Azure</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Oracle</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>IBM</p>
                            </a>
                        </li>                        
                    </ul>                                        
                </li> 
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-code"></i>
                        <p>Automation<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>DCNM</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>PALO</p>
                            </a>
                        </li>                        
                    </ul>                                        
                </li>                
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>Tools<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/ip_finder" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Network</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Oracle</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>IBM</p>
                            </a>
                        </li>                        
                    </ul>                                        
                </li>
                <li class="nav-item has-treeview {% if sidebar.menu == 'far' %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if sidebar.menu == 'far' %} active {% endif %}">
                        <i class="nav-icon fas fa-anchor"></i>
                        <p>Useful Links<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Azure</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>Oracle</p>
                            </a>
                        </li>                        
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/far" class="nav-link {% if sidebar.submenu == 'far' %} active {% endif %}">
                                <i class="far fa-circle nav-icon" style="color: #339af0;"></i>
                                <p>IBM</p>
                            </a>
                        </li>                        
                    </ul>                                        
                </li>                                     
                <li class="nav-item">
                    <a href="/mpls" class="nav-link {% if sidebar.menu == 'mpls' %} active {% endif %}">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>Security</p>
                    </a>
                </li>  
                <li class="nav-item">
                    <a href="/admin" class="nav-link {% if sidebar.menu == 'admin' %} active {% endif %}">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>ADMIN</p>
                    </a>
                </li>                                                  
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>