<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script type="text/javascript"> 

         $( function(){

            //Toggle for parent one//

            $("body").on("click", ".parent1 h2 a", function( e ){
              if(e) e.preventDefault(); 
              if(e.target != this){
               return; 
              }
              $(".endpoint1").slideToggle(); 
            });

            //Toggle for parent Two//

            $("body").on("click", ".parent2 h2 a", function( e ){
              if(e) e.preventDefault(); 
              if(e.target != this){
               return; 
              }
              $(".endpoint2").slideToggle(); 
            });
          
	      
		     
            //toggleOperation 


            //Toggle for Parent one Child one//
          
              $("body").on("click", ".p1c1", function( e ){
                if(e) e.preventDefault(); 
                if(e.target != this){
                 return; 
                }
                $(".c1").slideToggle(); 
              }); 
			 
              //Toggle for Parent one Child Two//

             $("body").on("click", ".p1c2", function( e ){
               if(e) e.preventDefault(); 
               if(e.target != this){
                return; 
               }
               $(".c2").slideToggle(); 
             }); 			 
			 
               //Toggle for Parent Two Child One//

             $("body").on("click", ".p2c1", function( e ){
               if(e) e.preventDefault(); 
               if(e.target != this){
                return; 
               }
               $(".c3").slideToggle(); 
             }); 
			      
               //Toggle for Paret Two Child Two//

             $("body").on("click", ".p2c2", function( e ){
               if(e) e.preventDefault(); 
               if(e.target != this){
                return; 
               }
               $(".c4").slideToggle(); 
             }); 			 
         }); 

               // Function for hide Child Content when page loads//

   		  $(document).ready(function(){
              $(".c1,.c2,.c3,.c4,.endpoint1,.endpoint2").hide();
           });
		 
         
           
          
      </script>
      <link href="./bundle.min.css" media="screen" rel="stylesheet" type="text/css">
   </head>
   <body>
      <section class="swagger-section" style="overflow:hidden">
      <div id="swagger-ui-container" class="swagger-ui-wrap" data-file="lan fabric.json">
      <ul id="resources">
      <li id="" class="resource"></li>
      <li id="resource_Control_-_Inventory" class="resource">
         <div class="heading parent1" id="p1">
            <h2>
               <a href="" class="parent1">PARENT 1</a> 
            </h2>
         </div>
         <ul class="endpoints endpoint1" id="Control_-_Inventory_endpoint_list" style="">
		 <! -- PARENT1 and Child 1 -->
		 
	<div id="p1c1">	 
      <li class="endpoint">
         <ul class="operations">
            <li class="post operation po1" id="Control_-_Inventory_discoverSwitches">
               <div class="heading">
                  <h3>
                     <span class="http_method">
                     <a href="" class="">CLEAR</a>
                     </span>
                     <span class="path">
                     <a href="" class="p1c1">Child 1</a>
                     </span>
                  </h3>
               </div>
               <div class="content c1" id="" style="">
                  <form accept-charset="UTF-8" class="sandbox">
                     <div style="margin:0;padding:0;display:inline"></div>
                     <table>
                        <tbody class="operation-params">
                           <tr>
                              <td class="code"><label for=""></label></td>
                              <input class="submit" type="button" value="Upload" onclick="process()">
                              <br>
                              <br>
                              <textarea class="body-textarea" placeholder="EXCEL" id="input"></textarea>
                           </tr>
                        </tbody>
                     </table>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="submit" type="button" value="Generate" onclick="process()">
                     <br>
                     <br>
                     <textarea class="body-textarea" placeholder="OUTPUT" id="output"></textarea>
                     <br>
                     <br>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="parameter required" placeholder="Username" id="ogn">
                     <br>
                     <br>
                     <input class="parameter required" placeholder="Password" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="Token" onclick="process()">
                     &nbsp;
                     <input class="parameter required" placeholder="Blank Token" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="API CALL PUSH" onclick="process()">
                  </form>
               </div>
            </li>
         </ul>
      </li>
	  </div>
	  
	  <! -- PARENT1 and Child 2 -->
      <li class="endpoint child2">
         <ul class="operations">
            <li class="post operation po2" id="Control_-_Inventory_discoverSwitches">
               <div class="heading">
                  <h3>
                     <span class="http_method">
                     <a href="" class="">CLEAR</a>
                     </span>
                     <span class="path">
                     <a href="" class="p1c2">Child 2</a>
                     </span>
                  </h3>
               </div>
               <div class="content c2" id="" style="">
                  <form accept-charset="UTF-8" class="sandbox">
                     <div style="margin:0;padding:0;display:inline"></div>
                     <table>
                        <tbody class="operation-params">
                           <tr>
                              <td class="code"><label for=""></label></td>
                              <input class="submit" type="button" value="Upload" onclick="process()">
                              <br>
                              <br>
                              <textarea class="body-textarea" placeholder="EXCEL" id="input"></textarea>
                           </tr>
                        </tbody>
                     </table>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="submit" type="button" value="Generate" onclick="process()">
                     <br>
                     <br>
                     <textarea class="body-textarea" placeholder="OUTPUT" id="output"></textarea>
                     <br>
                     <br>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="parameter required" placeholder="Username" id="ogn">
                     <br>
                     <br>
                     <input class="parameter required" placeholder="Password" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="Token" onclick="process()">
                     &nbsp;
                     <input class="parameter required" placeholder="Blank Token" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="API CALL PUSH" onclick="process()">
                  </form>
               </div>
            </li>
         </ul>
      </li>	  
	  
	  
	  
	  
	  
	  
	  
	  
      
</ul>
</li>
</ul>
<ul id="resources">
      <li id="" class="resource"></li>
      <li id="resource_Control_-_Inventory" class="resource">
         <div class="heading parent2">
            <h2>
               <a href="">PARENT 2</a> 
            </h2>
         </div>
         <ul class="endpoints endpoint2" id="Control_-_Inventory_endpoint_list" style="">
       <! -- PARENT2 and Child 1 -->
      <li class="endpoint">
         <ul class="operations">
            <li class="post operation po3" id="Control_-_Inventory_discoverSwitches">
               <div class="heading">
                  <h3>
                     <span class="http_method">
                     <a href="" class="">CLEAR</a>
                     </span>
                     <span class="path">
                     <a href="" class="p2c1">Child 1</a>
                     </span>
                  </h3>
               </div>
               <div class="content c3" id="" style="">
                  <form accept-charset="UTF-8" class="sandbox">
                     <div style="margin:0;padding:0;display:inline"></div>
                     <table>
                        <tbody class="operation-params">
                           <tr>
                              <td class="code"><label for=""></label></td>
                              <input class="submit" type="button" value="Upload" onclick="process()">
                              <br>
                              <br>
                              <textarea class="body-textarea" placeholder="EXCEL" id="input"></textarea>
                           </tr>
                        </tbody>
                     </table>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="submit" type="button" value="Generate" onclick="process()">
                     <br>
                     <br>
                     <textarea class="body-textarea" placeholder="OUTPUT" id="output"></textarea>
                     <br>
                     <br>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="parameter required" placeholder="Username" id="ogn">
                     <br>
                     <br>
                     <input class="parameter required" placeholder="Password" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="Token" onclick="process()">
                     &nbsp;
                     <input class="parameter required" placeholder="Blank Token" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="API CALL PUSH" onclick="process()">
                  </form>
               </div>
            </li>
         </ul>
      </li>   

       <! -- PARENT2 and Child 2 -->
      <li class="endpoint">
         <ul class="operations">
            <li class="post operation po4" id="Control_-_Inventory_discoverSwitches">
               <div class="heading">
                  <h3>
                     <span class="http_method">
                     <a href="" class="">CLEAR</a>
                     </span>
                     <span class="path">
                     <a href="" class="p2c2">Child 2</a>
                     </span>
                  </h3>
               </div>
               <div class="content c4" id="" style="">
                  <form accept-charset="UTF-8" class="sandbox">
                     <div style="margin:0;padding:0;display:inline"></div>
                     <table>
                        <tbody class="operation-params">
                           <tr>
                              <td class="code"><label for=""></label></td>
                              <input class="submit" type="button" value="Upload" onclick="process()">
                              <br>
                              <br>
                              <textarea class="body-textarea" placeholder="EXCEL" id="input"></textarea>
                           </tr>
                        </tbody>
                     </table>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="submit" type="button" value="Generate" onclick="process()">
                     <br>
                     <br>
                     <textarea class="body-textarea" placeholder="OUTPUT" id="output"></textarea>
                     <br>
                     <br>
                     <table class="fullwidth response-messages">
                        <thead>
                           <tr>
                              <th></th>
                           </tr>
                        </thead>
                     </table>
                     <br>
                     <input class="parameter required" placeholder="Username" id="ogn">
                     <br>
                     <br>
                     <input class="parameter required" placeholder="Password" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="Token" onclick="process()">
                     &nbsp;
                     <input class="parameter required" placeholder="Blank Token" id="ogn">
                     <br>
                     <br>
                     <input class="submit" type="button" value="API CALL PUSH" onclick="process()">
                  </form>
               </div>
            </li>
         </ul>
      </li>      
     </ul>
   </li>
</ul>
</div>
</section>
	  
	  
	  
	  
	  
	  
	  
   </body>
</html>