<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bgp & Color</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="{{url_for('static', filename='aspath/css/style.css')}}">	
    <script src="{{url_for('static', filename='aspath/js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='aspath/js/d3.v3.min.js')}}"></script>
    <script src="{{url_for('static', filename='aspath/js/canvas-toBlob.js')}}"></script>
    <script src="{{url_for('static', filename='aspath/js/FileSaver.min.js')}}"></script>
    <script src="{{url_for('static', filename='aspath/js/bgpTree.js')}}"></script>
    <script src="{{url_for('static', filename='aspath/js/colorTree.js')}}"></script>
</head>
<body style="background-color:#EEE">
<button type="button" class="but1 but1c" style="margin-right: 30px" onclick="window.open('www.w3schools.com')">SSH</button>

<div class="dropdown">
  <button class="dropbtn">Routing</button>
  <div class="dropdown-content">
	<!--<a id="btnColor">INT BRIEF</a> -->
    <a id="btnBgp">BGP</a>
	
  </div>
</div>

<button type="button" class="but3 but3c" style="margin-right: 5px" id="btnSave">Snap</button>
<button type="button" class="but3 but3c" style="margin-right: 5px" id="btnSearch">Search</button>
<input type="text" id="inputKey" style="margin-right: 5px" placeholder="Search..." onkeydown="keyDown(event)"/>
<div>
    <div id="tree-container"></div>
</div>
<!--<p><iframe src="new-json/system/log.txt" id="log" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe></p>-->
<!--<p><iframe src="new-json/system/config.txt" id="log" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe></p>-->

</body>
<script>
    function ajaxindicatorstart(text)
    {
        if(jQuery('body').find('#resultLoading').attr('id') !== 'resultLoading'){
            jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="/static/aspath/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
        }
        jQuery('#resultLoading').css({
            'width':'100%',
            'height':'100%',
            'position':'fixed',
            'z-index':'10000000',
            'top':'0',
            'left':'0',
            'right':'0',
            'bottom':'0',
            'margin':'auto'
        });

        jQuery('#resultLoading .bg').css({
            'background':'#000000',
            'opacity':'0.7',
            'width':'100%',
            'height':'100%',
            'position':'absolute',
            'top':'0'
        });

        jQuery('#resultLoading>div:first').css({
            'width': '250px',
            'height':'75px',
            'text-align': 'center',
            'position': 'fixed',
            'top':'0',
            'left':'0',
            'right':'0',
            'bottom':'0',
            'margin':'auto',
            'font-size':'16px',
            'z-index':'10',
            'color':'#ffffff'

        });

        jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeIn(300);
        jQuery('body').css('cursor', 'wait');
    }
    function ajaxindicatorstop()
    {
        jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeOut(300);
        jQuery('body').css('cursor', 'default');
    }
</script>
<script>
    /**
     * Variables for storing BGP/COLOR json data
     */
    ajaxindicatorstart("Loading...   Please Wait...");
    var bgpData = {}, bgpDataOriginal = {}, bgpDataLoaded = false;
    var colorData={}, colorDataOriginal={}, colorDataLoaded=false;
    var mappingData=[];
    const MODE_NONE=0, MODE_BGP = 1, MODE_COLOR = 2;
    var modeSetting = MODE_NONE;

    /**
     * init generated data value
     */
    function initBgpData() {
        bgpData.name = "DFW1-DCC-BSW01";
        bgpData.children = [];

    }
    function initColor(){
        colorData.name="DFW1-DCC-BSW01";
        colorData.children=[];
    }

    /**
     * add new child after checking if the same named child already exist
     * @param parentNode
     * @param childNode
     */
    function addChildNode(parentNode, childNode) {
        var isRepeat = false;

        for (var i = 0; i < parentNode.children.length; i++) {
            if (parentNode.children[i].name === childNode.name && childNode && childNode.children[0]) {
                addChildNode(parentNode.children[i], childNode.children[0]);
                isRepeat = true;
            }
        }

        if (!isRepeat) {
            parentNode.children.push(childNode);
        }
    }


    /**
     * generate new json data to display from existing json file
     * and save the data in an object variable, bgpData
     * @param data
     */
    var host = [];

    function generateNewData(data, key) {
        initBgpData();
        host = data.TABLE_vrf.ROW_vrf.TABLE_afi.ROW_afi[0].TABLE_safi.ROW_safi.TABLE_rd.ROW_rd.TABLE_prefix.ROW_prefix;
        //console.log("host="+host);

        for (var i = 0; i < host.length; i++) {
            var ipprefix = host[i].ipprefix;
            var paths = host[i].TABLE_path.ROW_path;
//console.log(host[i]);
            for (var j = 0; j < paths.length; j++) {
			//console.log(paths);
                var isNone = false;
                if (paths[j].best === "bestpath") {
                    isNone = true;
                } else {
                    isNone = false;
                }
				console.log(isNone);
                if (paths[j].best === "bestpath") {
                    if (paths[j] && paths[j].aspath) {
                        var asPaths = paths[j].aspath.split(" ");

                        var childNode = {}, curNode = childNode;
                        //console.log('curNode='+curNode);
                        for (var k = 0; k < asPaths.length; k++) {

                            curNode.name = asPaths[k];
                            curNode.children = [];
                            curNode.children.push({});
                            curNode = curNode.children[0];
                        }
                        // for the last child , ipprefix
                        curNode.name = ipprefix;

                        // if searchmode: check if it matches

                        if (key && key.length > 0) {
                            if (ipprefix.indexOf(key, 0) >= 0 || paths[j].aspath.indexOf(key,0)>=0) {
                                //console.log("key="+key+"-"+ipprefix);
                                addChildNode(bgpData, childNode);
                            } else {
                            }
                        } else {
                            addChildNode(bgpData, childNode);
                        }
                        break;
                    }

                }


            }

        }
        return bgpData;

    }


    /**
     * generate new json data to display color existing json file
     * @param data
     * @param key
     */
    var vrf=[];
    var intf=[];

    function generateColorData(data, key){
        initColor();
        vrf=data.TABLE_vrf;
        intf=data.TABLE_intf;
        var count=vrf.length>intf.length?vrf.length:intf.length;
        for (var i=0;i<count;i++){
            var child={};child.children=[];
            var temp0=vrf[i].ROW_vrf['vrf-name-out'];
            var temp1=intf[i].ROW_intf['prefix'];
            var temp2=intf[i].ROW_intf['intf-name'];
            var temp3=intf[i].ROW_intf['proto-state'];
            var temp4=intf[i].ROW_intf['link-state'];
            var temp5=intf[i].ROW_intf['admin-state'];

            if (key && key.length) {
                if (
                    (temp0.indexOf(key)<0)&&
                    (temp1.indexOf(key)<0)&&
                    (temp2.indexOf(key)<0)&&
                    (temp3.indexOf(key)<0)&&
                    (temp4.indexOf(key)<0)&&
                    (temp5.indexOf(key)<0)){
                    continue;
                }
            }

            child.name=temp0;
            child.color=temp0;
            child.children.push({name:temp1,color:temp0,children:[{name:temp2,color:temp0, children:[{name:temp3,children:[{name:temp4,children:[{name:temp5}]}]}]}]});
            addChildNode(colorData, child);
        }
        //console.log(colorData);
        return colorData;
		
    }
//console.log(colorData);
    /**
     * render Tree of Dendrogram
     * @param data
     */
    function renderTree(data){
        switch (modeSetting) {
            case MODE_BGP:
                renderBGPTree(data);
                break;
            case MODE_COLOR:
                renderColorTree(data);
                break;
            default:
                break;
        }
     }

    function keyDown(event){
        if (event.key=='Enter')
            $('#btnSearch').click();
    }

    $(document).ready(function () {
        // show dendrogram for Bgp
        $('#btnBgp').click(function () {
            document.getElementById('inputKey').value="";
            modeSetting = MODE_BGP;
            $('#btnSearch').click();
        });

        // show dendrogram for Color
        $('#btnColor').click(function () {
            document.getElementById('inputKey').value="";
            modeSetting = MODE_COLOR;
            $('#btnSearch').click();
        });

        // search & remove other items
        $('#btnSearch').click(function () {

            var key = document.getElementById('inputKey').value;
            //alert('key = ' + key);
            ajaxindicatorstart("Loading...   Please Wait...");
            d3.select("svg").remove();
            setTimeout(function(){
                var extractData;
                switch (modeSetting) {
                    case MODE_BGP:
                        extractData = generateNewData(bgpDataOriginal, key);
                        break;
                    case MODE_COLOR:
                        extractData = generateColorData(colorDataOriginal, key);
                        break;
                    default:
                        break;
                }
                if (extractData) {
                    renderTree(extractData);
                }
                ajaxindicatorstop();
            }, 500)
        });

        $('#btnSave').click(function () {
            //saveImage();
        });

        //Load all JSONs.
        //Loading Host
        $.ajax({
            url: '/static/aspath/json/bgp.json',
            dataType: 'json',
            async: false,
            success: function (data) {
                //console.log(data);
                if (!bgpDataLoaded) {
                    bgpDataOriginal = data;
                    bgpDataLoaded = true;
                }

                //generateNewData(data, "10.82.24");
                generateNewData(data);
            }
        });

        //Loading Colors
        $.ajax({
            url: '/static/aspath/json/int-brief.json',
            dataType: 'json',
            async: false,
            success: function (data) {
                //console.log(data);
                if (!colorDataLoaded){
                    colorDataOriginal = data;
                    colorDataLoaded = true;
                }

                //generateColorData to display
                generateColorData(data);
            }
        });

        //Loading Mappings
        $.ajax({
            url: '/static/aspath/json/mapping1.json',
            dataType: 'json',
            async: false,
            success: function (data) {
                mappingData=data.maps;
            }
        });


        //console.log(host);
        //console.log(mappingData);
        //$('#tree-container').hide();
        renderTree(bgpData);
        // renderTree(colorData);

    });
    ajaxindicatorstop();

</script>
</html>