<!DOCTYPE html>
<html>
{% include "partials/head.html" %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    {% include "partials/header.html" %}
    {% include "partials/sidebar.html" %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="login-box">
    <div class="login-logo">
		<img src="{{ url_for('static', filename='aa1.png') }}" width="375">
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body" style="background-color:lightgoldenrodyellow;">
            <b><p class="login-box-msg">{{ TT }}</p></b>
            <form>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <input type="button" onclick="window.location.href='https://192.168.1.159/netmikoconfig';" class="btn btn-primary btn-block" value="Go Back"></input>
                    </div><br><br>
                    <div class="col-12">
                        <input type="button" onclick="window.location.href='https://192.168.1.159';" class="btn btn-primary btn-block" value="Home"></input>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
            </div>
        </section>
    </div>
    {% include "partials/footer.html" %}
</div>
<!-- /.login-box -->
{% include "partials/foot.html" %}
<!-- jQuery -->
<script type="text/javascript" src="{{url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script type="text/javascript" src="{{url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script type="text/javascript" src="{{url_for('static', filename='dist/js/adminlte.min.js')}}"></script>
</body>
</html>
