<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {% include "partials/header.html" %}
    {% include "partials/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">PDC</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">PDC</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary card-tabs">
                            <div class="card-header p-0 pt-1">
                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-one-device-tab" data-toggle="pill"
                                           href="#custom-tabs-one-device" role="tab"
                                           aria-controls="custom-tabs-one-device"
                                           aria-selected="true">Devices</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-info-tab" data-toggle="pill"
                                           href="#custom-tabs-one-info" role="tab"
                                           aria-controls="custom-tabs-one-info" aria-selected="false">Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-link-tab" data-toggle="pill"
                                           href="#custom-tabs-one-link" role="tab"
                                           aria-controls="custom-tabs-one-link" aria-selected="false">Links</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-one-tabContent">
                                    <div class="tab-pane fade active show" id="custom-tabs-one-device" role="tabpanel"
                                         aria-labelledby="custom-tabs-one-device-tab">
                                        <table class="table table-condensed">
                                            <tbody>
                                            <tr id="AACDC1-STG-ASW1">
                                                <td class="row-name">AACDC1-STG-ASW1</td>
                                                <td class="row-ssh"><a href="" target="_blank" title=""
                                                                       data-toggle="tooltip">SSH</a></td>
                                                <td ><a href="avatar.png" target="_blank" title=""
                                                                       data-toggle="tooltip">Python</a></td>                       
                                                <td class="row-system">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary">System</button>
                                                        <button type="button"
                                                                class="btn btn-primary dropdown-toggle dropdown-icon"
                                                                data-toggle="dropdown">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                            <div class="dropdown-menu" role="menu">
                                                                <a class="dropdown-item"
                                                                   onclick="onHome('AACDC1-STG-ASW1')">Home</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onInfo('AACDC1-STG-ASW1')">Info</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onConfig('AACDC1-STG-ASW1')">Config</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onLog('AACDC1-STG-ASW1')">Log</a>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="row-routing">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary">Routing</button>
                                                        <button type="button"
                                                                class="btn btn-primary dropdown-toggle dropdown-icon"
                                                                data-toggle="dropdown">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                            <div class="dropdown-menu" role="menu">
                                                                <a class="dropdown-item"
                                                                   onclick="onIntBrief('AACDC1-STG-ASW1')">INT BRIEF</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onRouteTable('AACDC1-STG-ASW1')">ROUTE
                                                                    TABLE</a>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="row-switching">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary">Switching</button>
                                                        <button type="button"
                                                                class="btn btn-primary dropdown-toggle dropdown-icon"
                                                                data-toggle="dropdown">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                            <div class="dropdown-menu" role="menu">
                                                                <a class="dropdown-item"
                                                                   onclick="onIntStatus('AACDC1-STG-ASW1')">INT
                                                                    STATUS</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onPortChannel('AACDC1-STG-ASW1')">PORT-CHANNEL</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onVlan('AACDC1-STG-ASW1')">VLAN</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onVpc('AACDC1-STG-ASW1')">VPC</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onFex('AACDC1-STG-ASW1')">FEX</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onCdp('AACDC1-STG-ASW1')">CDP</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onArp('AACDC1-STG-ASW1')">ARP</a>
                                                                <a class="dropdown-item"
                                                                   onclick="onMac('AACDC1-STG-ASW1')">MAC</a>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="AACDC1-STG-ASW2">
                                                <td class="row-name">AACDC1-STG-ASW2</td>
                                            </tr>
                                            <tr id="AACDC1-STG-ASW3">
                                                <td class="row-name"></td>
                                            </tr>
                                            <tr id="AACDC1-STG-ASW4">
                                                <td class="row-name">AACDC1-STG-ASW4</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-info" role="tabpanel"
                                         aria-labelledby="custom-tabs-one-info-tab">
                                        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris
                                        pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus
                                        orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a
                                        luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus.
                                        Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc
                                        euismod pellentesque diam.
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-link" role="tabpanel"
                                         aria-labelledby="custom-tabs-one-link-tab">
                                        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris.
                                        Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget
                                        condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum
                                        orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna
                                        a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam
                                        vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet
                                        sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum,
                                        lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem
                                        eu risus tincidunt eleifend ac ornare magna.
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div id="full-screen-area">
                    <div class="row" style="padding-left: 10%">
                        <div class="col-12 text-right">
                            <button type="button" class="but3 but3c" style="margin-right: 5px" id="btnSearch">Search
                            </button>
                            <input type="text" id="inputKey" style="margin-right: 5px" placeholder="Search..."
                                   onkeydown="keyDown(event)"/>
                        </div>
                    </div>
                    <div class="row">
                        <div id="tree-container" class="col-12"></div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include "partials/footer.html" %}
</div>
<!-- ./wrapper -->
{% include "partials/foot.html" %}

<script type="text/javascript" src="{{url_for('static', filename='d3/js/d3.v3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/utility.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/ajaxindicator.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/bgpTree.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/colorTree.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/multiParentTree.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/renderInitialTable.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/renderInfoTable.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/renderTxtFile.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/forSwitching.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/forRouting.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/js/preloader.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/data/mapping-ssh.js')}}"></script>

</body>
</html>
